.application-layout {
    padding: 125px 45px 200px 45px;
    text-align: left;
}

.application-layout .nav-item i {
    width: 36px;
    text-align: center;
}

.demo-item {
    padding: 30px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
.demo-area {
    padding-top: 15px;
    margin-top: 20px;
    border-top: 1px dotted rgba(0,0,0,0.3);
}