.todo-item {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    padding: 15px;
}
.todo-item-title {
    padding-top: 6px;
}
.todo-item-complete {
    padding-top: 3px;
}
.todo-item-complete-button {
    font-size: 30px;
    line-height: 16px;
    cursor: pointer;
}
.todo-item-complete-button .fa-check-circle {
    color: green;
}

.todo-item-complete-wrapper {
    padding-left: 35px;
    position: relative;
}
.todo-item-complete-wrapper .todo-item-complete {
    position: absolute;
    left: 0; top: 0;
}

@media (max-width: 768px) {
    .todo-item {
        padding: 10px;
        font-size: 14px;
    }
}